
<!--Add/Edit dynamically added with each item created-->
<div class="panel col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" id="panelBackground">
    <div class="panel-body text-center">
        <h4>Canister Management</h4>
        <form name="addCanisterForm" ng-submit="addCanister()" method="post">
            <input class="input-md form-control inputSpacing" type="text" placeholder="Canister ID/Number" ng-model="canister.id">
            <br>
            <input class="input-md form-control inputSpacing" type="number" placeholder="Number of Canes" ng-model="canister.canes">
            <br>
            <input class="btn btn-md buttonSpacing" type="submit" value="Submit">
        </form>
    </div>
</div>
<div ng-repeat="canister in canisters track by canister.id">
        <a ui-sref="canisterPage({canisterId:canister.id})">{{canister.id}}{{canister.canes}}</a>  
    </div>

