<h4>Add/Edit Cow</h4>
<form name="addCowForm" action="" onsubmit="" method="post">
    <input type="text" placeholder="Cow ID/Number" name="cowId">
    <br>
    <input type="text" placeholder="Herd Name/Number" name="herdId">
    <br>
    <input type="text" placeholder="Impregnated By" name="bullId">
    <br>
    <input type="checkbox" name="Miscarriage" value="Miscarriage"> Miscarriage
    <br>
    <input type="checkbox" name="Pregnant" value="Pregnant"> Pregnant
    <br>
    <input type="submit" value="Submit">   
</form>