<h4 class="LightColor">Add Bovine</h4>
<div>
    <input type="checkbox" class="big-checkbox form-control" ng-model="checked">
    <p class="LightColor">Bull</p>
</div>
<form name="addCowForm" ng-submit="addCow()">
    <input class="input-md inputField form-control inputSpacing" type="text" placeholder="ID/Number" ng-model="cow.num">
    <br>
    <div ng-hide="checked">
        <input class="big-checkbox form-control" type="checkbox" ng-model="cow.miscarriage" value="Miscarriage">
        <p class="LightColor">Miscarriage</p>
    </div>
    <br>
    <div ng-hide="checked">
        <input class="big-checkbox form-control" type="checkbox" ng-model="cow.preggers" value="Pregnant">
        <p class="LightColor">Pregnant</p>
    </div>
    <br>
    <input class="btn classyButton btn-md buttonSpacing" type="submit" value="Submit">
</form>


<div ng-repeat="cow in herd track by $index">
    <span class="LightColor">{{cow.num}}</span>
</div>