
<div class="panel col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" id="panelBackground">
    <div class="panel-body text-center">

        <h4>Add/Edit Cow</h4>
        <form name="addCowForm" ng-submit="ac.addCow()" method="post">
            <input class="input-md form-control inputSpacing" type="text" placeholder="Cow ID/Number" name="cowId">
            <br>
            <input class="input-md form-control inputSpacing" type="text" placeholder="Herd Name/Number" name="herdId">
            <br>
            <input class="input-md form-control inputSpacing" type="text" placeholder="Impregnated By" name="bullId">
            <br>
            <input class="big-checkbox form-control" type="checkbox" name="Miscarriage" value="Miscarriage"> Miscarriage
            <br>
            <input class="big-checkbox form-control" type="checkbox" name="Pregnant" value="Pregnant"> Pregnant
            <br>
            <input class="btn btn-md buttonSpacing" type="submit" value="Submit">
        </form>

    </div>
</div>