<div class="panel col-sm-4 col-sm-offset-4" id="panelBackground">
    <div class="panel-body">

        <h1>Search/Filter Cow by:</h1>
        <input class="big-checkbox" type="checkbox" name="Pregnant" value="Pregnant"> Pregnant
        <br>
        <input class="big-checkbox" type="checkbox" name="Miscarriage/Still-birth" value="Miscarriage/Still-birth"> Miscarriage/Still-birth
        <br>
        <input class="big-checkbox" type="checkbox" name="Alphabetically" value="Alphabetically"> Alphabetically
        <br>
        <input class="input-lg inputSpacing" type="text" placeholder="ID/Name">
        <input class="input-lg inputSpacing" type="text" placeholder="Herd Name/Number">

    </div>
</div>