<div class="panel panel col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" id="panelBackground">
    <div class="panel-body text-center">

        <h4>Search/Filter Cow by:</h4>
        <input class="big-checkbox form-control" type="checkbox" name="Pregnant" value="Pregnant"> Pregnant
        <br>
        <input class="big-checkbox form-control" type="checkbox" name="Miscarriage/Still-birth" value="Miscarriage/Still-birth"> Miscarriage/Still-birth
        <br>
        <input class="big-checkbox form-control" type="checkbox" name="Alphabetically" value="Alphabetically"> Alphabetically
        <br>
        <input class="input-md form-control inputSpacing" type="text" placeholder="ID/Name">
        <br>
        <input class="input-md form-control inputSpacing" type="text" placeholder="Herd Name/Number">

    </div>
</div>