<h4 class="LightColor mpMargin">Add Specimen</h4>

<div>
    <input type="checkbox" class="big-checkbox" id="BullCheck" ng-model="checked">
    <label class="LightColor" for="BullCheck">Add New</label>   
</div>

<form name="addBullForm" ng-show="checked" ng-submit="addCane()">
    <input class="input-md inputField form-control inputSpacing" type="text" placeholder="Bull ID/Number" ng-model="cane.bullId">
    <br>
    <input class="input-md inputField form-control inputSpacing" type="text" placeholder="Cane ID/Number" ng-model="cane.num">
    <br>
    <input class="input-md inputField form-control inputSpacing" type="number" placeholder="Number of Units" ng-model="cane.units">
    <br>
    <input class="btn btn-md classyButton buttonSpacing" type="submit" value="Submit">
</form>
<div class="panel panel-default">
    <div class="panel-body">
        
        <div class="list-group" ng-repeat="cane in canister.canes track by $index">
            <div class="list-group-item">{{cane.bullId}}: <span class="badge">Units: {{cane.units}}</span></div>
        </div>
    </div>
</div>



<!--<div ng-repeat="sample in tank.canisters[i].canes track by $index">
    <ul>
        <li>{{sample.bullId}}</li>
    </ul>
</div>-->