body{
    background-color: #3E3D3D;
    /*max-width: 410px;   */
}
.panel{
    background-color: #3E3D3D;
    min-height: 50px!important;
}
.emblem{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.big-checkbox {
    width: 20px;
    height: 20px;
    margin-left: 25px !important;
    }
.navBar{
    height: 15px !important;
    width: 100% !important;
    background-color: #252525;
    position: fixed;
    z-index:1;
}
.LightColor{
    color: whitesmoke;
    margin-left: 20px;
}
.classyButton{
    background: linear-gradient(to right, #92EA76, #D8E8D6);
    width: 90%;
    margin: 5%;
    height: 50px;
    border: 1px solid black;
    color: black;
    font-weight: bolder;
    font-size: large;
   
    /*max-width: 300px;*/
    /*#35D4A0*/
}
.inputField{
    width: 90%;
    background-color: silver;
    margin: 5%;
    height: 50px;
}
.mpMargin{
    margin-top: 10%;
}
.nbCenter{
    margin: 10px 0px 0px 10px;
}
.logo{
    font-family: 'Quicksand', sans-serif;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none;
}
.floatRight{
    float: right;
    margin-right: 10px;
}
#single-button{
    margin-left: 10px;
}
.authInput{
    background-color: silver;
    height: 50px;   
}
.input-group{
    width: 90%;
    margin: 5%;
}
.dropText{
   vertical-align:middle
}
.badge{
    float: right;
    /*margin: 5px;*/
}
button.md-fab{
    background: linear-gradient(to right, #92EA76, #D8E8D6);;
    color: #3E3D3D;
    font-size: 1em;
    line-height: 1rem;
    min-width: 0;
    width: 5.6rem;
    height: 5.6rem;
    border-radius: 50%;
    position: fixed !important;
    top: 88%;
    left: 77%;
} 