<h4 class="LightColor  mpMargin">Search</h4>
<!--Search buttons and input field-->
<div>
    <button class="btn btn-md buttonSpacing classyButton" ng-click="searchCow = !searchCow">Search Cows</button>
    <br>
    <button class="btn btn-md buttonSpacing classyButton" ng-click="searchBull = !searchBull">Search Specimen</button>
    <br>
    <input class="input-md inputField form-control inputSpacing" type="text" placeholder="Search" ng-model="searchText">
</div>
<!--ng repeat for every bull specimen-->
<div ng-show="searchBull">
    <span class="LightColor">Specimen: </span>
    <div class="panel panel-default dropText" ng-repeat="bull in bulls | filter: searchText track by $index">
        <a class="LightColor">{{bull.bullId}} - {{bull.tankNum}}: {{bull.canisterNum}}
            <div class="panel-body">
                <span class="badge">Units Remaining: {{bull.units}}</span>
            </div>
        </a>
    </div>
</div>
<!--ng repeat for every cow-->
<div ng-show="searchCow">
    <span class="LightColor">Herd Animal: </span>
    <div class="panel panel-default dropText" ng-repeat="cow in cows | filter: searchText track by cow.num">
        <a class="LightColor">{{cow.num}}
            <div class="panel-body">          
                <span class="badge">{{cow.herdName}}</span> 
            </div>
        </a>
    </div>
</div>