<h4 class="LightColor  mpMargin">Search</h4>
<div>
    <button class="btn btn-md buttonSpacing classyButton" ui-sref="#">Search Cows</button>
    <br>
    <button class="btn btn-md buttonSpacing classyButton" ui-sref="#">Search Specimen</button>
    <br>
</div>

<div class="panel panel-default dropText" ng-repeat="tank in tanks track by tank.id"> 
    <a class="LightColor">{{cane.canes}}
        <div class="panel-body">
        </div>
    </a>
</div>
<!--
<div class="panel panel-default dropText" ng-repeat="herd in herds track by herd.id">
    <a class="LightColor">{{herd.cows}}
        <div class="panel-body">
        </div>
    </a>
</div>-->
