<h4 class="LightColor mpMargin">Livestock in {{herd.name}}</h4>

<div class="panel panel-default" ng-repeat="cow in herd.cows track by $index">
    <a class="LightColor" ng-click="cowEdit = !cowEdit">{{cow.num}}</a>
    <div ng-show="cowEdit" class="panel-body">
        <form name="updateCowForm" ng-submit="updateCow()">
            <button type="badge" class="badge btn-danger" ng-click="removeAnimal()">X</button>
            <input class="big-checkbox" type="checkbox" id="PregCheck" ng-model="cow.pregnant" value="Pregnant">
            <label class="LightColor" for="PregCheck">Pregnant</label>
            <br>
            <input class="big-checkbox" type="checkbox" id="MisCheck" ng-model="cow.miscarriage" value="Miscarriage">
            <label class="LightColor" for="MisCheck">Miscarriage</label>
            <br>
            <input class="input-md inputField form-control" type="text" placeholder="Specimen ID" ng-model="cane.bullId">
            <br>
            <input class="input-md inputField form-control" type="number" placeholder="Specimen units used" ng-model="cane.units">
            <button type="submit" class="btn btn-md classyButton">Update</button>
        </form>
    </div>
</div>

<!--FAB add cow-->
<a ng-click="addCow()">
    <button type="button" class="md-fab"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
</a>