
<div class="panel panel col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-4" id="panelBackground">
    <div class="panel-body text-center">

        <h3>Cattle Inventory</h3>
        <h4>Sign in</h4>
        <form name="logInForm" ng-submit="li.logIn()">
            <input class="input-md inputSpacing" type="email" placeholder="Email/Username" name="userEmail">
            <br>
            <input class="input-md inputSpacing" type="password" placeholder="Password" name="userPassword">
            <br>
            <input class="btn btn-md buttonSpacing" type="submit" value="Log In">
            <br>
            <input class="btn btn-md buttonSpacing" type="submit" value="Register">
            <br>
            <a style="color: black;" href="">Forgot Password</a>
        </form>

    </div>
</div>